*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.cointainer{
    height: 100vh;
    width: 100vw;

}
.header{
    background-color: rgb(216, 214, 214);
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
}
.logo{
    font-size: x-large;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1;
    justify-content: center;
    display: flex;
}
ul{
    display: flex;
    list-style-type: none;
    color: black;
  justify-content: center;
  justify-content: space-between;
}

.h1{
    display: flex;
}
.header{
    display: flex;
    justify-content: space-between;
}
.navbar{
display: flex;
justify-content: space-between;
justify-content: center;
}
.ul li:last-child{
    color: gainsboro;
}

