*{
    margin: 0%;
    width: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.cointainer{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.wapper{
    height: 80%;
    width: 90%;
    display: flex;
}
.img1{
    height: 100%;
    width: 100%;
    position: relative;

}